<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
<<<<<<< HEAD
    <h1>Team Name: <%= params[:name]%></h1>
    <h3>Coach: <%= params[:coach]%></h3>
    <h3>Point Guard: <%= params[:pg]%></h3>
    <h3>Shooting Guard: <%= params[:sg]%></h3>
    <h3>Small Forward: <%= params[:sf]%></h3>
    <h3>Power Forward: <%= params[:pf]%></h3>
    <h3>Center: <%= params[:c]%></h3>
=======
   <h1>Team Name: <%= @name %></h1>
>>>>>>> 4df55a9f7ed4ddfdd05eb99a6a83b1c597530606

   <p>Coach: <%= @coach %> </p>
   <p>Point Guard: <%= @pg %></p>
   <p>Shooting Guard: <%= @sg %></p>
   <p>Small Forward: <%= @sf %></p>
   <p>Power Forward: <%= @pf %></p>
   <p>Center: <%= @c %></p>
 </body>
</html>
